.heroContent {
    background-color: #263238;
    padding: 3rem;
}

.title {
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
}

.subtitle {
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
    margin-bottom: 2rem;
}

.listContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.listItem {
    cursor: pointer;
    background-color: #fff;
}

.listItem:hover {
    background-color: #fafafa;
}

.story_title {
    font-family: 'Balsamiq Sans', cursive;
    color: #333;
}

.author {
    color: #999;
    font-family: 'Balsamiq Sans', cursive;
}

.time {
    color: #333;
    margin-right: 8rem;
    font-family: 'Balsamiq Sans', cursive;
}

.footer {
    background-color: white;
    padding: 1rem
}



